<%= form_for [@recipe] do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> *Os campos são obrigatórios!</h2>

    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <div class="field">
    <label >Nome:</label>
    <%= f.text_field :name, class:"form-control"%>
  </div>
</p>

<p>
  <div class="field">
    <label >Tipo de Cozinha:</label>
    <%= f.collection_select(:cuisine_id, Cuisine.all, :id, :cuisine, {prompt: "Selecione"}) %>
  </div>
</p>

<p>
  <div class="field">
    <label >Preferência:</label>
    <%= f.text_field :preference, class:"form-control"%>
  </div>
</p>

<p>
  <div class="field">
    <label >Serve quantas pessoas?:</label>
    <%= f.text_field :serves_people, class:"form-control"%>
  </div>
</p>

<p>
  <div class="field">
    <label>Tempo de preparo</label>
    <%= f.select :time_preper, class:"form-control" %>
  </div>
</p>


<div class="field">
  <label >Nível de dificuldade:</label>
   <%= f.select(:level, options_for_select([['Fácil', "Fácil"], ['Médio', "Médio"], ['Difícil', "Difícil"]])) %>
</div>

<p>
  <div class="field">
    <label >Ingredientes:</label>
    <%= f.text_area :ingredients, class:"form-control"%>
  </div>
</p>

<p>
  <div class="field">
    <label >Passo a passo:</label>
    <%= f.text_area :steps, class:"form-control"%>
  </div>
</p>

<p>
  <%= f.file_field :image %>
</p>

<p>
  <button type="submit">Salvar</button>
</p>

<% end %>