<h1> Receitas </h1>

<%= image_tag @recipe.image.url(:large) %>
<p> Nome: <%= @recipe.name %> </p>
<p> Tipo de cozinha: <%= @recipe.type_kitchen %> </p>
<p> Preferência: <%= @recipe.preference %> </p>
<p> Serve <%= @recipe.serves_people %> pessoas. </p>
<p> Tempo de preparo: <%= @time_preper %> </p>
<p> Dificuldade: <%= @recipe.level %> </p>
<p> Ingredientes: <%= @recipe.ingredients %> </p>
<p> Passo a passo: <%= @recipe.steps %> </p>