<%= form_for [@user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> *Os campos são obrigatórios!</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <div class="field">
    <label >Nome:</label>
    <%= f.text_field :name, class:"form-control"%>
  </div>
</p>

<p>
  <div class="field">
    <label >Cidade</label>
    <%= f.text_field :cidade, class:"form-control"%>
  </div>
</p>

<p>
  <div class="field">
    <label >Email</label>
    <%= f.text_field :email, class:"form-control"%>
  </div>
</p>

<p>
  <div class="field">
    <label >Facebook</label>
    <%= f.text_field :facebook, class:"form-control"%>
  </div>
</p>

<p>
  <div class="field">
    <label>Twitter</label>
    <%= f.text_field :twitter, class:"form-control" %>
  </div>
</p>

<p>
  <div class="field">
    <label>Cozinha preferida</label>
    <%= f.text_field :favorite_cuisine, class:"form-control" %>
  </div>
</p>

<p>
  <button type="submit">Salvar</button>
</p>

<% end %>