<h1>Dados do usuário: <%= @user.name %> </h1>
<hr>
<p>Nome: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Cidade: <%= @user.cidade %></p>
<p>Facebook: <%= @user.facebook %></p>
<p>Twitter: <%= @user.twitter %></p>
<p>Cozinha Preferida: <%= @user.favorite_cuisine %></p>
